body {
    background-image: url(img/LoginImage.png);
    background-size:contain;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 550px;
}

.login-box {
    background-color: white;
    width: 350px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
}

.input-container {
    padding: 10px 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.checkbox {
    text-align: left;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}

.small-button-container {
    display: flex;
    justify-content: space-between;
}

.small-button {
    width: 48%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.back-button {
    width: auto;
    padding: 10px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}