<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "malo.css" %}">
</head>
<body>
    <div class="container">
        <button class="back-button">Volver Atrás</button>
        <div class="login-box">
            <div class="input-container">
                <label for="correo">Correo electrónico</label>
                <input type="text" id="correo" placeholder="Ingrese correo electrónico">
            </div>
            <div class="input-container">
                <label for="contrasena">Contraseña</label>
                <input type="password" id="contrasena" placeholder="Ingrese contraseña">
            </div>

            <div class="checkbox">
                <input type="checkbox" id="recordar-contrasena">
                <label for="recordar-contrasena">Recuerde mi contraseña</label>
            </div>

            <button>Iniciar Sesión</button>

            <div class="small-button-container">
                <button class="small-button">Crear cuenta</button>
                <button class="small-button">Recuperar Contraseña</button>
            </div>
        </div>
    </div>
</body>
</html>