{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/funciones.css' %}">
</head>
<body>
    <div class="textoN1">
        <div class="text-line">Recuerda que las botellas y envases de plastico, de vidrio y de aluminio son reciclables</div>
        <div class="text-line"></div>
    <div class="textoN2">
        <div class="text-line">Cuida nuestro planeta, recuerda que los aparatos electronicos tambien son reciclables</div>
        <div class="text-line"></div>
    <div class="textoN3">
        <div class="text-line">Sabias que por cada tonelada de plastico que se desecha, se producen casi 3 toneladas de CO2? Ayúdanos a hacer la diferencia</div>

        <div class="button">
            <form>
                <button formaction="http://127.0.0.1:8000/index">Volver al inicio</button>
            </form>
    </div>
</body>
</html>